{% extends "base.html"%}
{% block title %} Estudiantes inscritos {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<section>
    <div class="container">
        <table class="table table-bordered">
            <tr><td>Usuario</td><td>Correo</td><td>Estatus</td></tr>
            {% for usuario in usuarios %}
                <tr>
                    <td>
                        <a href="{{ url_for('datos', estudiante=usuario.email) }}">{{ usuario.name }}</a>
                    </td>
                    <td>
                        {{ usuario.email }}
                    </td>
                    <td>
                        {% if usuario.status == 0 %}
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-ok" style="color:orange;" aria-hidden="true"></span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

</section>
{% endblock %}
